<header>
    <nav class="header-nav">
        <a class="header-title" href = "/">Kemp3</a>
        <ul>
            <li class="header-links"><a href="/home">Home</a></li>
            <li class="header-links"><a href = "/projects">Projects</a></li>
            <li class="header-links"><a href="/about">About Me</a></li>
            <li class="header-links"><a href = "/users/new">Sign Up</a></li>
            <li class="header-links"><a href = "/users/login">Login</a></li>
        </ul>
    </nav>
</header>
