<header>
    <nav>
        <a href = "/">Kemp3</a>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href = "/projects">Projects</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href = "/users/new">Sign Up</a></li>
            <li><a href = "/users/login">Login</a></li>
        </ul>
    </nav>
</header>
