:root {
    --color-background-light: hsl(267, 14%, 12%)
    --color-background-dark: hsl(0, 0%, 7%)
    --color-purple-grey: hsl(266, 22%, 21%)
    --color-purple-light: hsl(267, 95%, 76%)
    --color-purple-hard: hsl(258, 100%, 35%)
}