<h2>Login</h2>
<form action = "/users/login" method="POST">

    <label for="email">Email: </label>
    <input type="text" id="email" name="email" required></input>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required></input>
    
    <a href="../users/../">Cancel</a>
    
    <button type = "submit">Login</button>
</form>