<h2>Login</h2>
<form class="Form" action = "/users/login" method="POST">

    <label for="email">Email: </label>
    <input type="text" id="email" name="email" required></input>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required></input>
    
</form>

<a class="Cancel" href="../users/../">Cancel</a>
<button class="Login" type = "submit">Login</button>